/* style ogólne*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* style obrazka */


header#naglowek {
    background-image: url(../img/man-1.jpg);
    background-position: center;
    background-size: cover;
    position: static;
    overflow: hidden;
}


/* style nagłówków */


header#naglowek h1,
header#naglowek h2 {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    color: #fff;
    left: 0;
    right: 0;
    top: 50%;
    padding: 30px;
}

header#naglowek h1#gorny {
    font-weight: 600;
    font-size: 20px;
    transform: translateY(-90%);
}

header#naglowek h2#dolny {
    font-weight: 600;
    font-size: 30px;
    transform: translateY(-140%);
}


/* style pwd */


@media (max-width: 1170px) {
    
    header#naglowek {
        background-image: url(../img/man-2.jpg);
        height: 70vh;
    }
    
    header#naglowek h1#gorny,
    header#naglowek h2#dolny {
        text-align: right;
    }
    
    header#naglowek h1#gorny {
        transform: translate(-23%, -127%);
    }
    
    header#naglowek h2#dolny {
        transform: translate(-1%, -180%);
    }
}